{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-lg-4 col-xl-2">
                One of three another more columns
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-2">
                One of three columns
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-2">
                One of three columns
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-2">
                One of three columns
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-2">
                One of three columns
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-2">
                One of three columns
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-2">
                One of three columns
            </div>
        </div>
    </div>
{% endblock %}